.body{
  margin: 0 auto;
  width: 70%;
  min-height: 90vh;
  max-width: 1333px;
  min-width: 1333px;
  background-color: #FFFFFF;
  border-radius: 30px;
  box-shadow: 0px 27px 57px 6px rgba(0,0,0,0.47);
  padding: 5px 50px 50px 50px;

  position: relative;
}

.bodyDark{
  background-color: #090D28;
}
