*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App{
  background-color: #E3E8ED;
  padding: 40px 0;
  min-height: 100vh;
  position: relative;
}
.mainB{
  display: flex;
  width: 100%;
}
.mainBLeft{
  width: 25%;
}

.mainBCenter{
  width: 45%;
  padding-left: 50px;
}

.leftText{
  font-weight: 600;
  color: black;
  font-size: 30px;
  padding: 25px 0;
}

.leftText span{
  font-weight: 300;
}
.block{
  display: none;
}

.mainBRight{
  width: 25%;
}

@media screen and (max-width: 480px) {
  .App {
    width: 1333px;
    height: 360vh;
  }
}
